/* 
    Created on : Jan 9, 2017, 5:26:22 PM
    Author     : Jessica Burnett
*/

/*Header Styles*/
header {
    width: 100%;
    height: 100%;
    background: #a8d6d4 url(/SouthernBelleDeveloper/images/magnoliaColoredSmallPadded.png) right no-repeat;
    background-size: contain;
    color:#4e4e4e;
    margin: 0px auto;
    border-bottom: 5px dashed #f4a8c6;
    overflow: auto;
}
header h1{
    font-size: 300%;
    display: inline-block;
    width:75%;
    font-family: 'Dawning of a New Day', cursive;
    margin: 0 0 0 0;
    padding:1% 0 0 1%;
}

header h2 {
    font-size: 200%;
    font-family: 'Give You Glory', cursive;
    width:65%;
    font-weight: normal;
    margin: 0 0 0 10%;
    padding:0;
    float: left;
}

@media all and (min-width: 1000px){
    header h1{
        font-size: 400%;
    }
    header h2 {
        font-size: 500%;
    }
    /*.magnolia {
        float: right;
    }*/
}

@media all and (min-width: 600px) and (max-width: 1000px){
    header h2 {
        font-size: 300%;
    }
}

/*****/

/*Navbar Styles*/
nav {
    border-top: 5px dashed #f4a8c6;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

nav li {
    font-size: 125%;
    color:#fbd584;
    padding:0;
    margin:0;
}

nav li a {
    color: #f673a5;
    text-decoration: none;
    font-family: 'Give You Glory', cursive;

}

@media all and (min-width: 600px){
    nav li {
        display: inline-block;
        padding: .5%;
        font-size:150%;
    }
}
/*****/

/*Main Styles*/
body {
    margin: 0px;
    padding: 0px;
    border-width: 0;
    color:#4e4e4e;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-family: 'Give You Glory', cursive;
}

.bodyHeader {
    transform: rotate(-90deg);
    float:left;
}

p {
    text-align: center;
    vertical-align: center;
}
/*****/