/* 
    Created on : Jan 9, 2017, 5:26:22 PM
    Author     : Jessica Burnett
*/

/*Header Styles*/
header {
    width: 100%;
    height: 100%;
    background: #a8d6d4 url(/images/magnoliaColoredSmallPadded.png) right no-repeat;
    background-size: contain;
    margin: 0px auto;
    border-bottom: 5px dashed #f4a8c6;
    overflow: auto;
}
header h1, header h1 a:link{
    font-size: 300%;
    display: inline-block;
    width:75%;
    font-family: 'Dawning of a New Day', cursive;
    color: #4e4e4e;
    margin: 0 0 0 0;
    padding:1% 0 0 1%;
}

header h2 {
    font-size: 200%;
    font-family: 'Give You Glory', cursive;
    width:65%;
    font-weight: normal;
    color:#4e4e4e;
    margin: 0 0 0 10%;
    padding:0;
    float: left;
}

@media all and (min-width: 1000px){
    header h1{
        font-size: 400%;
    }
    header h2 {
        font-size: 500%;
    }
    main{
        margin: 0 20%;
        border-left: double #fbd584;
        border-right: double #fbd584;
    }
    /*.magnolia {
        float: right;
    }*/
}

@media all and (min-width: 600px) and (max-width: 1000px){
    header h2 {
        font-size: 300%;
    }
    
    main{
        margin: 0 10%;
    }
}

/*****/

/*Navbar Styles*/
nav {
    border-top: 5px dashed #f4a8c6;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

nav li {
    font-size: 125%;
    color:#fbd584;
    padding:0;
    margin:0;
}

nav li a {
    color: #f673a5;
    text-decoration: none;
    font-family: 'Give You Glory', cursive;

}

@media all and (min-width: 600px){
    nav li {
        display: inline-block;
        padding: .5%;
        font-size:150%;
    }
}
/*****/

/*Main Styles*/
main{
    padding: 0 5%;
    
}
main .intro{
    border: none;
}

#intro p {
    font-size:120%;
}

body {
    margin: 0px;
    padding: 0px;
    border-width: 0;
    color:#4e4e4e;
    font-family: 'Raleway', sans-serif;
}
a {
    color: #f673a5;
    text-decoration: none;
}

h1{
    font-family: 'Give You Glory', cursive;
    margin: 0;
    
}

section{
    margin: 1% 0;
}

#intro {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
    /*background-color: #f4a8c6;
    background-clip: padding-box;
    border-radius: 15px;*/
    padding: 0.5%;
}


p {
    text-align: left;
    margin-top: 0;
}

span.largeText{
    font-family: 'Give You Glory', cursive;
    color: #a8d6d4;
    font-size: 300%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right:1%; 
    float: left;
    display: block;
}
span.quote{
    font-family: 'Give You Glory', cursive;
    color: #a8d6d4;
    font-size: 200%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right:1%; 
    text-align: center;
    display: block;
}

body ul {
    margin-top:0;
}

body.date {
    font-weight: bold;
}
/*****/